<div class="tweets-container">
  <% @tweets.each do |tweet| %>
      <div class="tweet-feed-container">
        <strong><%= link_to "@#{tweet.user.username}", user_path(tweet.user), :class => 'tweet-username' %></strong>
        · <small><%= tweet.created_at.strftime("%b %d, %Y %I:%M %p") %></small><br/>
        <%= tweet.body %>

        <% tweet.tags.each do |tag| %>
          <%= link_to "#{tag.name}", tag_path(tag), :class => 'tweet-tag' %>
        <% end %>

        <% tweet.mentions.each do |mention| %>
          <%= link_to "#{mention.name}", user_path(mention.name.sub('@', '')), :class => 'tweet-tag' %>
        <% end %>

        <%= link_to '↺', retweet_tweet_path(tweet.id), method: :post, :class => 'tweet-delete' %>
        <%= link_to 'X', tweet_path(tweet), method: :delete, :class => 'tweet-delete' if current_user == tweet.user %>        
      </div>
  <% end %>
</div>
<div class="pagination-container">
  <%= will_paginate @tweets, :class => 'pagination' %>
</div>
